.FormHeaderTD {background-color: #006633; text-align: Center; Width: 1004}
.FormHeaderFONT {font-family: Arial, Tahoma, Verdana, Helvetica; font-size: 13pt; color: #FFFFFF; font-weight: bold}
.FormHeaderSmallFONT {font-family: Arial, Tahoma, Verdana, Helvetica; font-size: 8pt; color: #FFFFFF; font-weight: bold}
.DataTD {background-color: #CCCCCC}
.DataFONT {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 9pt}
.DataFontB {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 9pt; font-weight: bold}
.DataFontI {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 9pt; font-style: italic}
.DataFontBI {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 9pt; font-weight: bold; font-style: italic}
.FormTD {background-color: #EBE0D4}
.FormFONT {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 10pt}
.FormFontB {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 10pt; font-weight: bold}
.FormFontI {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 10pt; font-style: italic}
.FormFontBI {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 10pt; font-weight: bold; font-style: italic}
.TabTable {	background-color: #006633;  } 
.TabTD {	background-color: #006633;  width: 100%; } 
.TabImageTD { background-color: #006633;  width: 5; }
.TabImage { width: 5; height: 37; }
.ContentTable {	background-color: #FCFFFF; Width: 95%; }
.ContentTableNoWidth {	background-color: #FCFFFF; }
.BodyContent  { background-color: #FCFFFF; Width: 95%; border: thin double #006633; }
.BodyContentNoWidth  { background-color: #FCFFFF; border: thin double #006633; }
.InnerContentTable {background-color: #FCFFFF; Width: 100%}
.ContentHeaderTR {Height: 33; font-size: 13pt; font-weight: bold;color : #006633;}
.ContentHeaderTD {Height: 28; font-size: 10pt;font-weight: bold;color : #006633;}
.BoldListContent {font-size: 10pt; font-weight: bold;color : #006633;}
.ContentTD {Height: 28; font-size: 10pt}
.smallFONT {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 8pt}
.smallFontB {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 8pt; font-weight: bold}
.smallFontI {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 8pt; font-style: italic}
.smallFontBI {font-family: Arial, Tahoma, Verdana, Helvetica; color: #000000; font-size: 8pt; font-weight: bold; font-style: italic}
.yellowSmallFONT {font-family: Arial, Tahoma, Verdana, Helvetica; color: #FFCC00; font-size: 8pt}
.yellowSmallFontB {font-family: Arial, Tahoma, Verdana, Helvetica; color: #FFCC00; font-size: 8pt; font-weight: bold}
.yellowSmallFontI {font-family: Arial, Tahoma, Verdana, Helvetica; color: #FFCC00; font-size: 8pt; font-style: italic}
.yellowSmallFontBI {font-family: Arial, Tahoma, Verdana, Helvetica; color: #FFCC00; font-size: 8pt; font-weight: bold; font-style: italic}
.error { color: #ff3333; font-weight: bold; font-style: italic}
.errorSmall { color: #ff3333; font-style: italic; font-size: 10pt}
.errorTD { background-color: #ff3333; color:#FFFFFF;}
.warningTD { background-color: #ffff80;}
.TabFONT { font-family: Arial, Helvetica, sans-serif; font-size: 7pt; color: #FFCC00; font-weight: bold }
.CurrentTabFONT { font-family: Arial, Helvetica, sans-serif; font-size: 7pt; color: #FFFFFF; font-weight: bold }
.smallListFONT {font-family: Arial, Tahoma, Verdana, Helvetica; color: #006633; font-size: 8pt; font-weight:bold}
.normalListFONT {font-family: Arial, Tahoma, Verdana, Helvetica; color: #006633; font-size: 10pt; font-weight:bold}
.largeListFONT  {font-family: Arial, Tahoma, Verdana, Helvetica; color: #006633; font-size: 13pt; font-weight:bold}

HR {
	height : 1; 
	color : #006633;
}

HTML, BODY, P, TD, TH {
	font-family : Arial,Helvetica,sans-serif;
	font-size : 10pt;
}

TH, A.TH {
	background-color: #006633;
	color: #FFCC00;
	font-size : 10pt;
}

TH.small, A.smallTH {
	background-color: #006633;
	color: #FFCC00;
	font-size : 7pt;
}

TH.large, A.largeTH  {
	background-color: #006633;
	color: #FFCC00;
	font-size : 13pt;
}

A.TH:hover {
	color: #FFFFFF; 
	background-color : #006633;
	font-weight: bold ;
	text-decoration: none;
}

FORM  {
	margin : 0px;
	padding : 0px;
}

H1  {
	font-family : Arial,Helvetica,sans-serif;
	font-size : 14pt;
	font-weight : bold;
	color : #006633;
}

/* Link Elements */
A {
	color : #006633;
	text-decoration : underline;
	font-size : 9pt;
}

/* Note: Netscape ignores the 'color' attribute below, so don't set the background-color
   to a color close to the default link 'color'. */
A:hover  {
	color : #FFFFFF;
	background-color : #006633;
	text-decoration: none;
}

A.notice  {
	color : #003366;
	text-decoration : underline;
	font-size : 8pt;
	font-weight : bold;
}

A.error {
	color: #ff3333;
}

A.error:hover {
	font-weight: bold ;
	text-decoration: none;
	background-color : #ff3333;
	color: #FFFFFF;
}
A.TabFONT {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	color: #FFCC00; 
	font-weight: bold 
}

A.TabFONT:hover {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	color: #FFFFFF; 
	background-color : #006633;
	font-weight: bold ;
	text-decoration: none;
}

A.menu {
	color : #000000;
	text-decoration : underline;
	font-family : Verdana, Arial;
	font-size : 7pt;
	font-weight : bold;
}

A.menu:hover {
	color : #FFFFFF;
	background-color : #006633;
	font-family : Verdana, Arial;
	font-size : 7pt;
	font-weight : bold;
}

A.footer {
	color : #000000;
	text-decoration : underline;
	font-family : Verdana, Arial;
	font-size : 7pt;
	font-weight : bold;
}

A.footer:hover {
	color : #FFFFFF;
	background-color : #006633;
	font-family : Verdana, Arial;
	font-size : 7pt;
	font-weight : bold;
}

A.noAction {
	color : #006633;
	text-decoration : none;
	font-weight : bold;
    padding-right: 3px;
    padding-left: 3px;
}

A.action {
	color : #006633;
	text-decoration : underline;
	font-weight : bold;
    font-style: italic;
    padding-right: 3px;
    padding-left: 3px;
}

A.actionSMALL {
	color : #006633;
	text-decoration : underline;
	font-weight : bold;
    font-style: italic;
    padding-right: 3px;
    padding-left: 3px;
	font-size : 8pt;
}

A.actionLARGE {
	color : #006633;
	text-decoration : underline;
	font-weight : bold;
    font-style: italic;
    padding-right: 3px;
    padding-left: 3px;
	font-size : 12pt;
}

A.action:hover, A.actionLARGE:hover, A.actionSMALL:hover {
	color : #FFFFFF;
	background-color : #006633;
	font-weight : bold;
    font-style: italic;
	text-decoration: none;
}

LABEL {
	font-weight : bold;
	color : #006633;
}

LABEL.option {
	font-weight : normal;
	font-size : 8pt;
	vertical-align: middle;
}

LABEL.smallFont {
	font-weight : normal;
	font-size : 8pt;
}

.CurrentWizardPage {  color: #006633}

.BUTTON {   	
	border-bottom:medium solid #006600;
	border-right:medium solid #006600;
	border-top:medium solid #CCCCCC;
	border-left:medium solid #CCCCCC;
	font-size:11px;
	font-family:Arial;
	font-weight:bold;
	background-color:#006600;
	color:#FFFFFF;
	line-height:.95;
	padding-top:3px; 
	text-transform: capitalize;
	cursor: hand;
}
.DBUTTON {   	
	border-bottom:medium solid #006600;
	border-right:medium solid #006600;
	border-top:medium solid #CCCCCC;
	border-left:medium solid #CCCCCC;
	background-color:#CCCCCC;
	font-size:11px;
	font-family:Arial;
	font-weight:bold;
	line-height:.95;
	text-transform: capitalize;
	cursor: hand;
}

INPUT
{
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-BOTTOM-WIDTH: 2px;
    BORDER-RIGHT-WIDTH: 2px
}

INPUT.noBorder
{
    border:none; 
	font-size:10pt;
}

INPUT.smallNoBorder
{
    border:none; 
	font-size:7pt; 
	font-weight: bold;
	color:#006633;
	
}

SELECT
{
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-BOTTOM-WIDTH: 2px;
    BORDER-RIGHT-WIDTH: 2px
}

TEXTAREA
{
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-BOTTOM-WIDTH: 2px;
    BORDER-RIGHT-WIDTH: 2px;
}

TD.composite {
    font-weight: bold
}

TD.compositeMember {
    font-weight: normal;
    font-style: italic;
}
