<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>AFSCME</display-name>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>application</param-name>
      <param-value>messages</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>20</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>20</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>null</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>nocache</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>init</servlet-name>
    <servlet-class>org.afscme.enterprise.controller.web.InitializationServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>viewConstitutionDocument</servlet-name>
    <servlet-class>org.afscme.enterprise.affiliate.web.ViewConstitutionDocumentServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>saveAs</servlet-name>
    <servlet-class>org.afscme.enterprise.participationgroups.web.SaveAsServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>regularReportSaveAs</servlet-name>
    <servlet-class>org.afscme.enterprise.reporting.base.web.RegularReportSaveAsServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>specializedReportSaveAs</servlet-name>
    <servlet-class>org.afscme.enterprise.reporting.specialized.web.SpecializedReportSaveAsServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>applyUpdate</servlet-name>
    <servlet-class>org.afscme.enterprise.update.web.ApplyUpdateServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <!-- Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewConstitutionDocument</servlet-name>
    <url-pattern>/viewConstitutionDocument</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>saveAs</servlet-name>
    <url-pattern>/saveAs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>regularReportSaveAs</servlet-name>
    <url-pattern>/regularReportSaveAs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>specializedReportSaveAs</servlet-name>
    <url-pattern>/specializedReportSaveAs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>applyUpdate</servlet-name>
    <url-pattern>/applyUpdate</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>mdu-index.html</welcome-file>
  </welcome-file-list>
  <error-page>
  <error-code>404</error-code>
	<location>/Error/HTTP404.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
	<location>/Error/General.jsp</location>
  </error-page>
  <error-page>
    <error-code>402</error-code>
	<location>/Error/General.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
	<location>/Error/General.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
	<location>/Error/General.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
	<location>/Error/General.jsp</location>
  </error-page>
  <!-- Tag Library Descriptors (Don't think we actually need these here)-->
  <taglib>
    <taglib-uri>/WEB-INF/afscme.tld</taglib-uri>
    <taglib-location>/WEB-INF/afscme.tld</taglib-location>
  </taglib>
  <!-- Struts Tag Library Descriptors (Don't think we actually need these here)-->
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-template.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/struts</taglib-uri>
    <taglib-location>/WEB-INF/lib/struts.jar</taglib-location>
  </taglib>
</web-app>
